@model JobProcessor.App.ViewModels.JobsVM
@using JobProcessor.App.ViewModels;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Jobs</h1>
<nav aria-label="Page navigation">
    <div class="container">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-5">
                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-dark btn-lg " })
                </p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</nav>

<table id="jobsTable" class="table">
    <tr>
        <th class="text-black-50">
            #
        </th>
        <th class="text-black-50">
            @Html.DisplayNameFor(Model => Model.Job.Name)
        </th>
        <th class="text-black-50">
            @Html.DisplayNameFor(Model => Model.Job.Status)
        </th>
        <th class="text-black-50">
            @Html.DisplayNameFor(Model => Model.Job.Counter)
        </th>
        <th class="text-black-50">
            Action
        </th>
    </tr>

    @{
        int currentPageSize = Model.Metadata.PageSize;
        int currentPageStartIndex = Model.Metadata.StartIndex;
    }
    @foreach (var job in Model.Jobs)
    {
        currentPageStartIndex++;
        <tr>
            <th class="col-2">
                @currentPageStartIndex
            </th>
            <th class="text-monospace col-4">@job.Name</th>
            <th class="col-2">@job.Status</th>
            <th class="col-2">@job.Counter</th>
            <td class="col-2">
                @Html.ActionLink("Details", "Details", new { id = job.Id }, new { @class = "btn btn-outline-dark btn-sm " })
            </td>
        </tr>
    }
    @{
        int backPageIndex = Model.GetPreviousPageIndex();
    }

</table>
<div class="container">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <ul class="pagination">
                <li>
                    @if (Model.HasRecords(Navigation.Previous))
                    {
                        @Html.ActionLink("Previous", "Index",
                       new { startIndex = backPageIndex, pageSize = currentPageSize },
                       new { @class = "btn btn-outline-dark", id = "nextPageBtn" })
                    }
                </li>

                @foreach (var nextPage in Model.PagesSlice)
                {
                    <li>
                        @Html.ActionLink(nextPage.Number.ToString(), "Index",
                            new { startIndex = nextPage.GetLandingPageIndex(nextPage.Number).ToString(), pageSize = currentPageSize },
                            new { @class = "btn btn-outline-info" })
                    </li>
                }
                <li>
                    @if (Model.HasRecords(Navigation.Next))
                    {
                        @Html.ActionLink("Next", "Index",
                       new { startIndex = currentPageStartIndex, pageSize = currentPageSize },
                       new { @class = "btn btn-outline-dark" })
                    }
                </li>
            </ul>
        </div>
    </div>
</div>






